/* Universal */

body {
    color: white !important;
    background: #313130 !important;
    margin: 0px;
    overflow-x: hidden;
}

select {
    -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.outer span {
  font-family: 'Acme';
}

.bang-title {
  font-family: 'Bangers';
  color: red;
  margin-top: 3%;
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  left: 0px;
}

.centered {
    display: block;
    margin: 0 auto;
}

.centered_text {
    text-align: center;
}

.centered_image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.vertical-scroll {
  overflow-y: scroll;
}

.bang-button {
  font-family: 'Acme' !important;
  font-size: 35px !important;
  color: red !important;
  background: white !important;
  border-color: red !important;
}

.bang-button:hover {
  color: white !important;
  background: red !important;
  border-color: white !important;
}

/* Home Page */
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.outer_rel {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}

.selection_button {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 700%;
    font-family: Quicksand;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgba(255,255,255,0.15);
}

.text_input {
    font-size: 500%;
    font-family: 'Acme';
    width: 50%;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 1%;
    padding-top: 1%;
    color: red;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  right: 105%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Lobby page */

.lobby-text {
  margin: 0 auto;
  position: relative;
  font-family: 'Acme';
  font-size: 25px;
}

#lobby-title {
  margin-top: 5%;
  width: 100%;
  left: 0px;
}

#leave-lobby-button, #return-to-lobby-button {
  font-family: 'Acme' !important;
  font-size: 25px !important;
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: white !important;
  background: black !important;
  margin-top: 5% !important;
  border: 2px solid white;  
}

#leave-lobby-button:hover, #return-to-lobby-button:hover {
  border: 2px solid red;  
}

#return-to-lobby-button {
  display: none;
}

/* Setup page */

.setup-text {
  font-size: 25px;
}

/* Main play page */

.row {
    height:50%;
    display: table;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
}

.column a, .column a:hover {
  color: black;
  text-decoration: none;
}

.zoom_hover_2_5:hover {
  z-index: 50 !important;
  transform: scale(2.5);
}

.zoom_hover_2:hover {
  z-index: 50 !important;
  transform: scale(2);
}

.zoom_hover_1_5:hover {
  z-index: 50 !important;
  transform: scale(1.5);
}

.zoom_hover_1_2:hover {
  z-index: 50 !important;
  transform: scale(1.2);
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.absolute-div {
  position: absolute;
}

.game_card {
  transition: transform .2s;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.player_info_column {
  z-index: 10000;
}

#cardsInHandDiv {
  width: 45%;
  height: 50%;
  margin-left: 25%;
}

#updateActionDiv {
  width: 30%;
  height: 50%;
  right: 0%;
  color: black;
  border-left: 3px white solid;
  border-bottom: 3px white solid;
}

#updateActionList, .player-list-usernames {
  font-family: "Acme";
}

.player-list-usernames {
  font-size: 5vh;
}

#updateActionList {
  color: white;
  font-size: 3vh;
}

.play-text-header {
  font-size: 3vh;
  z-index: 5;
}

#usernameSpan {
  font-family: "Acme";
  font-size: 4vh;
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: red;
}

#info_modal, #question_modal {
  color: black;
}

.bang-button-question {
  font-family: 'Acme' !important;
  font-size: 20px !important;
}

.bang-button-question:hover {
  color: white !important;
  background: black !important;
  border-color: white !important;
}

.modal-title, #infoModalText, #unclosableText {
  font-family: 'Acme';
  font-size: 20px;
}

#questionmark {
  position: absolute;
  right: 0.5%;
  bottom: 2%;
  width: 1.5%;
}