{% extends "skeleton.html" %}
{% block content %}
    <body>
        <div class="outer">
            <h1 class="bang-title" style="font-size: 250px;">Bang!</h1>
            <form action="/" method="POST" class="middle">
                <div class="inner" style="margin-top: 10%;">
                    <input type="text" name="name" placeholder="Username" class="name_input" autofocus="autofocus">
                    {% if warning_msg %}<p class="home_warning_msg">{{ warning_msg }}</p>{% endif %}
                </div>
            </form>
        </div>
    </body>
{% endblock %}