{% for p in playerInfoList %}
    <div id="player_div_{{ p.username }}" class="column {{ 'eliminated' if not p.isAlive() }}" style="width: {{ (100 / playerInfoList|length) - 1 }}%;">
        <h2 class="centered_text">{{ p.username }}</h1>
        <img id="{{ p.username }}PlayerImage" src="{{ url_for('static', filename='/images/cards/' + ('characters/' if p.isAlive() else 'roles/') + (p.character.name|convertNameToPath if p.isAlive() else p.role.lower()) + '.jpg') }}" alt="{{ p.character.name }}" class="zoom_hover_1_5 centered player_column">
        <div class="centered player_column">
            {% for _ in range(p.lives) %}
                <img src="{{ url_for('static', filename='/images/bullet.png') }}" style="max-width: 17%">
            {% endfor %}
        </div>
    </div>
{% endfor %}