{% extends "SKELETON.html" %}
{% block content %}
	<body>
		<div class="outer">
			<span id="roleSpan">Your role is {{ role }}.</span>
			<img src="{{ url_for('static', filename='/images/cards/roles/' + role.lower() + '.jpg') }}" alt="{{ role }} Card" class="game_card zoom_hover">
			<br>
			<br>
			<br>
			{% if sheriff %}
				<span id="sheriffUsernameSpan">{{ sheriff }} gets to be the sheriff.</span>
				<br>
				<br>
				<br>
			{% endif %}
			<span id="characterOptionsSpan">Your options for character are {{ option1.name }} and {{ option2.name }}.</span>

			<img src="{{ url_for('static', filename='/images/cards/characters/' + option1.name|convertNameToPath + '.jpg') }}" alt="{{ option1 }} Card" id="option1Card" class="game_card zoom_hover_2_5" onclick="chooseCharacter('{{ option1.name }}', true)">

			<img src="{{ url_for('static', filename='/images/cards/characters/' + option2.name|convertNameToPath + '.jpg') }}" alt="{{ option2 }} Card" id="option2Card" class="game_card zoom_hover_2_5" onclick="chooseCharacter('{{ option2.name }}', false)">
			<br>
			<br>
			<br>
			<span id="waitingForSpan">Waiting for you and {{ numOtherPlayers }} other players to pick a character...</span>
		</div>
	</body>
{% endblock %}