<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Bang!">
		<meta name="author" content="Bart Janczuk">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <meta name="theme-color" content="#424242"/>
        <link rel="icon" sizes="256x256" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <title>Bang!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <p id="username" class="username" style="display: none;">{% if username %}{{username}}{% endif %}</p>
        {% block content %}{% endblock %}
    </body>
</html> 